<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Addison Cho">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Exhibitions</title>
</head>
<body>
    <header>
        <img id="logo" src="../static/monomuse_logo_xl.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <h3>Exhibition 1: Primate Perspectives</h3>
        <p>
            This exhibition explores how artists interpret the intelligence, curiosity, and social behavior of monkeys. Through paintings, sculptures, and digital media, the collection highlights parallels between human creativity and primate problem-solving, encouraging visitors to see the world from a different perspective.
        </p>

        <h3>Exhibition 2: Monkey Business: Art and Mischief</h3>
        <p>
            This exhibition focuses on the playful and chaotic side of creativity. Featuring humorous installations and imaginative artwork inspired by monkeys’ energetic behavior, the exhibit examines how spontaneity, experimentation, and a little mischief can lead to unexpected artistic innovation.
        </p>
    </div>
    <footer>&copy; 2026 MonoMuse. All rights reserved.</footer>
</body>
</html>