<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Addison Cho">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>About</title>
</head>
<body>
    <header>
        <h1>Explore</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <img src="../static/museum.jpg" alt="Museum room with dinosaur bones" width="814" height="372"></img>

        <h3>Mission Statement</h3>
        <p></p>

        <h3>Milestones</h3>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>

    <footer>&copy; 2026 MonoMuse. All rights reserved.</footer>
</body>
</html>