<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Addison Cho">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>About</title>
</head>
<body>
    <header>
        <img id="logo" src="../static/monomuse_logo_xl.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <img src="../static/museum.png" alt="Outside MonoMuse museum at sunset" width="600"></img>

        <h3>Mission Statement</h3>
        <p>
            At MonoMuse, our mission is to celebrate creativity, curiosity, and the playful spirit of discovery through art inspired by our primate cousins. We believe that, much like monkeys exploring their world, humans learn best by observing, experimenting, and occasionally hanging upside down from a new perspective.
        </p>
        <p>
            MonoMuse is dedicated to showcasing art that highlights imagination, adaptability, and the sometimes chaotic brilliance of creative expression. By blending thoughtful curation with a lighthearted appreciation for monkey culture, we aim to create a museum experience that is welcoming, engaging, and just a little mischievous.
        </p>
        <p>
            Through exhibitions, education, and community programs, MonoMuse encourages visitors to embrace curiosity, question conventions, and remember that great ideas—like monkeys—often swing in from unexpected places.
        </p>

        <h3>Milestones</h3>
        <ul>
            <li>
                <h4>2026 - Founding and Opening</h3>
                <p>MonoMuse opens its doors to the public, debuting its first exhibition of monkey-inspired art and introducing its mission of curiosity, creativity, and a little “monkey business.”</p>
            </li>
            <li>
                <h4>2028 - Launch of Educational Programs</h4>
                <p>
                    The museum establishes workshops, school partnerships, and interactive exhibits that explore art, creativity, and the cultural symbolism of monkeys.
                </p>
            </li>
            <li>
                <h4>2032 - International Primate Art Exhibition</h4>
                <p>
                    MonoMuse hosts its first major international exhibition featuring artists from around the world whose work explores primates, nature, and imaginative expression.
                </p>
            </li>
        </ul>
    </div>

    <footer>&copy; 2026 MonoMuse. All rights reserved.</footer>
</body>
</html>