<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Addison Cho">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Membership</title>

    <!-- general css -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- external library for hamburger icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- external libraries for fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <!-- general javascript -->
    <script src="../static/script.js" defer></script>
    <!-- external library for jquery -->
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
</head>
<body onload="addYear()" class="else">
    <div class="container">
        <header class="header">
            <img id="logo" src="../static/monomuse_logo_short.png" alt="MonoMuse Museum Logo">
        </header>

        <nav class="nav_bar">
            <div class="hamburger">
                <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
                    <i class="fa fa-bars"></i> 
                </a>
                <h3>Menu</h3>
            </div>

            <div class="nav_links">
                <a href="../index.html">Home</a>
                <a href="tickets.html">Buy Tickets</a>
                <a href="about.html">About Us</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="donate.html">Donate</a>
                <a href="membership.html">Membership</a>
            </div>
        </nav>

        <!-- main class for css grid structure (title, content)-->
        <main class="main">
            <div class="title">
                <h1>Membership</h1>
            </div>

            <!-- image-bg for background image of the museum -->
            <div class="content image-bg">
                <div class="panel">
                    <h2>Join Our Community</h2>
                    <p>
                        As a member of MonoMuse, you gain exclusive access to special exhibitions, early entry to new exhibits, and invitations to members-only events. Memberships last for a year before requiring renewal and cost $70 annually.

                        Due to internal conflicts, we are currently unable to accept online memberships. However, we welcome in-person sign-ups at our museum location. Your support and effort are greatly appreciated.
                    </p>
                </div>
            </div>
        </main>

        <footer class="footer">
            <p id="copyYear"></p>
            <p>monomuse@gmail.com | (+1) 010-1010-1010</p>
            <p>The logo, background image, and filler text were generated by ChatGPT. All other images were generated by Gemini.</p>
        </footer>
    </div>
</body>
</html>