<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Addison Cho">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Exhibitions</title>

    <link rel="stylesheet" href="../static/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    -->
</head>
<body>
    <header>
        <img id="logo" src="../static/monomuse_logo_xl.png" alt="MonoMuse Museum Logo">

        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a id="navselected" href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <h3>Exhibition 1: The Paper Trail</h3>
        <p>
            This exhibition focuses on the thin, crumpled paper artifacts that quietly record daily life. Receipts, bus tickets, store coupons, and scribbled reminders show how ordinary paperwork can unintentionally document entire decades of routines, purchases, and habits.
        </p>

        <h3>Exhibition 2: The Junk Drawer</h3>
        <p>
            Every home has one. This exhibition recreates the classic junk drawer, filled with spare batteries, mystery keys, rubber bands, instruction manuals, and other objects that are kept “just in case.” Seen together, these small items form a strangely familiar portrait of everyday life.
        </p>
    </div>
    <footer>&copy; 2026 MonoMuse. All rights reserved.</footer>
</body>
</html>